* {
  margin: 0;
}
body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background: #f5f7f6;
  line-height: 1.8em;
}

header,
main,
footer {
  max-width: 900px;
  margin: auto;
}
body > header {
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
header hgroup h1 {
  margin-bottom: 14px;
}
header hgroup h3 {
  color: rgb(50, 49, 49);
}
nav {
  margin-top: 12px;
  display: flex;
  gap: 20px;
}
nav a {
  text-decoration: none;
  color: #065f46;
  font-weight: 500;
}

article {
  background: rgb(255, 254, 254);
  margin-top: 16px;
  padding: 18px;
  border-radius: 10px;
}

article > h2 {
  text-align: center;
}
article > p {
  text-align: right;
}
section {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgb(94, 93, 93);
}
section h2 {
  text-align: center;
  color: green;
}
section > p {
  text-align: center;
  padding: 18px 0;
}
section:nth-child(3) P {
  padding: 5px;
}
mark {
  background-color: #a7ecd9;
  padding: 3px 5px;
}

figure {
  margin: 25px 0;
}
img {
  width: 100%;
}
figcaption {
  text-align: center;
  margin-top: 5px;
  color: #606061;
}
p {
  font-size: 18px;
}
details {
  margin: 16px 0;
  padding: 16px;
  background-color: rgba(79, 176, 61, 0.4);
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
/* aside {
  float: right;
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
aside a {
  color: green;
} */
article footer {
  margin-top: 32px;
  padding-top: 20px;
  border-top: 1px solid #bababc;
  text-align: center;
}
body > footer {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  color: #374151;
}

dialog {
  padding: 20px 25px;
  border: none;
  border-radius: 10px;
}

dialog button {
  margin-top: 20px;
  padding: 5px 14px;
  background-color: #065f46;
  color: white;
  border-radius: 3px;
  letter-spacing: 2px;
}
